{% extends "base_privada.html" %}

{% block conteudo %}
<section class="py-5 bg-light" id="avaliacoes">
    <div class="container">
        <h2 class="text-center mb-4">Avaliações</h2>

        {% if avaliacoes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Nota</th>
                    <th>Comentário</th>
                </tr>
            </thead>
            <tbody>
                {% for avaliacao in avaliacoes %}
                <tr>
                    <td>{{ avaliacao.id }}</td>
                    <td>{{ avaliacao.usuario }}</td>
                    <td>{{ avaliacao.nota }}</td>
                    <td>{{ avaliacao.comentario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="text-center">Nenhuma avaliação encontrada.</p>
        {% endif %}
    </div>
    <div class="text-center mt-4">
            <a href="/admin/administradores/tela_inicial" class="btn btn-success">Voltar para Home</a>
        </div>
    </div><br>
</section>
{% endblock %}
