{% extends "base_privada.html" %}

{% block conteudo %}
<section class="py-5 bg-light" id="dados-perfil">
    <div class="container">
        <h2 class="text-center mb-4">Dados do Perfil</h2>
        <div class="card mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <p><strong>Nome:</strong> {{ perfil.nome }}</p>
                <p><strong>Email:</strong> {{ perfil.email }}</p>
                <p><strong>Telefone:</strong> {{ perfil.telefone }}</p>
                <p><strong>CPF:</strong> {{ perfil.cpf}}</p>
                <p><strong>Senha:</strong> {{ perfil.senha}}</p>
            </div>
        </div>
    </div>
     <div class="text-center mt-4">
            <a href="/contratante/home_contratante" class="btn btn-success">Voltar para Home</a>
        </div>
</section>
{% endblock %}
