{% extends "base_simples.html" %}
{% from 'macros/navigation.html' import back_to_home_button %}

{% block conteudo %}
<section class="py-5 bg-light" id="solicitacao-contratacao">
    <div class="container">
        <h2 class="text-center mb-4">Solicitações de Contratação</h2>

        <ul class="list-group">
            {% for s in solicitacoes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ s.nome }} - <strong>{{ s.status }}</strong>
                    </div>
                    <a href="/cuidador/solicitacoes/{{ s.id }}" class="btn btn-primary btn-sm">Ver detalhes</a>
                </li>
            {% endfor %}
        </ul>{{ back_to_home_button('cuidador') }}
    </div><br>
</section>
{% endblock %}
