<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se cadastrar como</title>
    <link rel="stylesheet" href="/static/css/cadastro.css">
</head>
<body>

    <a href="/" class="voltar">×</a>

    <div class="container">
        <h1>Se cadastrar como :</h1>
        <div class="botoes">
            <a class="btn" href="/cuidador/home_cuidador">CUIDADOR</a>
            <a class="btn" href="/contratante/home_contratante">CONTRATANTE</a>
        </div>
    </div>

</body>
</html>
