
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hestia - Cadastro</title>
    <link rel="stylesheet" href="/static/css/cadastro.css">
</head>

<body>
    <div class="container">
        <div class="overlay"></div>
        <div class="card">
            <div class="left-panel">
                <h1>HESTIA</h1>
                <p>Cadastre-se como:</p>
            </div>
            <div class="botoes">
                <a class="btn" href="/cadastro_cuidador">CUIDADOR</a>
                <a class="btn" href="/cadastro_contratante">CONTRATANTE</a>
            </div>
        </div>
    </div>
</body>

</html>