<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="/static/css/redefinicao_senha.css">
</head>
<body class="login-page">

    <a href="index.html" class="voltar">×</a>

    <div class="login-container">
        <h1>Redefinir Senha</h1>
        <p>Confirme o email para a recuperação da sua senha</p>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <a href="confirmar_redefinir_senha.html" class="btn-login btn-green">Confirmar</a>
    </div>

</body>
</html>
